<h1>{{category}}</h1>
<a href="/kategoria/swiat">Świat</a>
<a href="/kategoria/kraj">Kraj</a>
<ul>
    {{#for pages}}
    <li>
        <a href="/kategoria/{{../category}}/{{this}}">{{this}}</a>
    </li>
    {{/for}}
</ul>
<ul>
    {{#news}}
    <li>
        <h2>{{title}} ({{category}})</h2>
        <span>{{date}}</span>
        <p>{{text}}</p>
        <a href="/artykul/{{_id}}">Więcej</a>
        <a href="{{sourceURL}}">Źródłó: {{source}}</a>
    </li>
    {{/news}}
</ul>